[Unit]
Description=Flask Camera Application (Optimised for Pi Zero)
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/dante/raspberry_pi/stream_video.py
WorkingDirectory=/home/dante/raspberry_pi
Restart=always
User=dante
Environment=FLASK_DEBUG=0

[Install]
WantedBy=multi-user.target
